/********** Definición de constantes para colores **********/
:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --bkbc:#fff;
    --colbsw:#acb1ca;
    --border:#293582;
    --textoAlt: #737ec2;
   --textoOscuro: #3b4996;
  }

/********** Estilos de barra lateral **********/

  .vertical-nav {
    min-width: 5rem;
    width: 5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background: var(--barra);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .nav-link.text-dark {
    background: var(--barra);
    transition: all .5s ease;
  }

  .nav-link.text-dark:hover {
    background: var(--escritorio);
    transition: all .5s ease;
  }

  .nav-link.text-dark>i:hover {
    color: var(--menu);
  }

  .fa, .far, .fas {
    color:var(--bkbc) ;
  }

  button.nav-link.text-dark {
    border: none;
    width: 80px;
  }

  /* For toggle behavior */

  #sidebar.active {
    margin-left: -17rem;
  }

  #content.active {
    width: 100%;
    margin: 0;
  }

  .nav-item {
    text-align: center;
  }

  .nav-link {
    font-size: 28px;
    transition: all .5s ease;
  }

  .nav-link:hover {
    font-size: 33px;
    transition: all .5s ease;
  }

  .logout {
    width: 80px;
    position: absolute;
    bottom: 0;
    display: block;
    border-top: solid 3px var(--bkbc);
  }

  ul.nav.flex-column.bg-white.mb-0 {
    border-top: solid 3px var(--bkbc);
  }

  .py-2.px-1.mb-1 {
    position: relative;
    display: block;
  }

  .media.d-flex.align-items-center:first-child {
    margin-bottom: .5rem;
  }

  img.mr-3.rounded-circle.img-thumbnail.shadow-sm {
    position: relative;
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    padding: .15rem !important;
  }

  li.nav-item:hover > a >i {
    color: var(--menu);
  }

  .n1:hover > button >i ,.n2:hover > form > button >i {
    color: var(--menu);
  }

  .scrollmenu {
    background: aqua;
  }

  @media only screen and (max-height: 504px) {
    .logout {
      position: relative;
    }
  }

/********** Estilos del contenido de la vista **********/
body{
    background: var(--escritorio) !important;
}

.content {
  position: relative;
    display: block;
    margin-left: 5rem;
   padding: 1rem 2.5rem;
}

/*hoja*/

.title{
   background: var(--menu);
   color: var(--bkbc);
   text-align: center;
   font-weight:600;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: 100;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.panel.panel-default {
    background: var(--bkbc);
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    font-weight: 400;
    text-align: center;
    margin-bottom: .9rem ;
    color: var(--texto) !important;
}
.main{
    max-width: 1200px;
    margin: 0 auto;
  }

.estudios-programados {
    margin-top: 2rem;
}

.img-sized {
    height: 10rem;
    width: 10rem;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
  /*  margin-left: 6rem;*/
}

.informacion {
  width: 50%;
/* position: relative; */
display: flex;
/* flex-direction: row; */
/* position: absolute; */

}

.infodiv {
    position: absolute;
    display: inline-block;
    padding: 1rem 20rem;
    font-size: 27px;
    font-weight: lighter;
    color: #434fa5;
}
.custom-control{
    display: flex !important;
    flex-wrap: wrap;
}
.custom-control-label{
    font-weight: normal !important;
    color: #5866b7;
        padding-bottom: 1rem;
}
.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    left: -2rem;
}
.custom-control-label::before {
    width: 1.5rem;
    left: -2rem;
    height: 1.5rem;
    border-radius: 50% !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #838ecd;
    background-color: #838ecd;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(183, 187, 208, 0.66);
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #838ecd;
}
/*estilos de card*/
h5.card-header.text-center {
    background-color: #6a76be;
    color: var(--bkbc);
}
.card-body {
    background-color: var(--escritorio);

}
.card{
      box-shadow: 0.2rem 0.3rem var(--colbsw);
}
.card:hover{
  transform: scale(1.0);
}
.btn-personalizado {
    color: var(--bkbc);
    background-color: var(--menu);
    border-color: var(--menu);
}
.btn-personalizado:hover{
  color: var(--bkbc) !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.cardie{
  box-shadow: none;
    border: none;
}
.cardinfo{
  color: var(--menu);
    font-size: 27px;
    text-align: left;
    background-color: var(--bkbc);
    font-weight: 300;
}
.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}