/********** Definición de constantes para colores **********/
:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --texto: #434fa5
  }

/********** Estilos del contenido **********/

.content {
    margin-left: 5rem;
    display: flex;
    background-color: var(--fondo-principal);
    height: 100%;
    min-height: 100vh;;
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    height: 2.5rem;
}

.text-center {
    text-align: center;
}

.search-icon {
    margin-right: 0.7rem;
}

.search-icon button {
    background-color: var(--barra);
    color: white;
}

.search-icon button:hover {
    color: var(--escritorio);
}

.fa.fa-search {
    margin-right: 0.5rem;
}

.campo-busqueda {
    flex-basis: 80%;
    border-radius: 5px;
}


.principal {
    background-color: var(--escritorio);
    flex-basis: 70%;
    padding: 2rem 2rem 0 2rem;
    min-height: 100vh;
    height: 100%;
    margin-left: 5rem;
}

.principal h1 {
  color: #4b57aa;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}

.cuadro-empresa {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 5.5rem 0 5.5rem;
}

.cuadro-empresa img {
    height: 10rem;
    width: 10rem;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
}

.cuadro-empresa p {
    margin: 0;
}

.btn-custom {
    color: white;
    background-color: var(--barra);
    width: 6.5rem;
}

.btn-custom:hover {
    color: var(--escritorio);
}

.card a {
  z-index: 2;
}

.card-empresa {
  align-items: center;
}

.hidden {
    display: none !important;
}
.detalles-boton >dl> dt{
  color:var(--barra);
}
.detalles-boton >dl> dd{
  color:var(--fondo-principal);
}


.principal-completo {
    padding: 2rem;
}

.titulo-empresa {
    color: white;
    display: flex;
    flex-direction: column;
}

.img-sized {
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
  margin: 0;
  padding: 0;
 font-family: 'Roboto', sans-serif !important;
}*/
section .principal{
    width: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 140px 0;
}

  .card{
    position: relative;
    overflow: hidden;
    max-width: 200px;
    height: auto;
    background: linear-gradient(-45deg,#838ecd,#434fa5);
    border-radius: 15px;
    margin: 0 2rem;
    padding: 20px 10px;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1);
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 4rem;
  }
  .card img {
      height: 6.5rem;
      width: 6.5rem;
      min-width: 6.5rem;
      min-height: 6.5rem;
      max-width: 6.5rem;
      max-height: 6.5rem;
  }

  .card:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .col-sm-4:nth-child(1) .card ,
  .col-sm-4:nth-child(1) .card .title .fa{
    background: linear-gradient(-45deg,#f403d1,#64b5f6);

  }
  .col-sm-4:nth-child(2) .card,
  .col-sm-4:nth-child(2) .card .title .fa{
    background: linear-gradient(-45deg,#ffec61,#f321d7);

  }
  .col-sm-4:nth-child(3) .card,
  .col-sm-4:nth-child(3) .card .title .fa{
    background: linear-gradient(-45deg,#24ff72,#9a4eff);

  }
  .card::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: 80%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
          transform: skewY(-5deg) scale(1.5);
  }
  .title .fa{
    color:#fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius:  50%;
    text-align: center;
    line-height: 100px;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
            box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

  }
  .title h2 {
    position: relative;
    margin: 0;
    font-weight: 100;
    font-size: 1.1rem;
    padding: 0;
    color: #fff;
    /* font-size: 28px; */
    z-index: 2;
    min-height: 3.2rem;
  }

  .title hr {
    background-color: var(--escritorio);
  }

  .price,.option{
    position: relative;
    z-index: 2;
  }
  .price h4 {
  margin: 0;
  padding: 20px 0 ;
  color: #fff;
  font-size: 60px;
  }
  .option ul {
    margin: 0;
    padding: 0;

  }
  .option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
  }

.aviso-vacio p{
    font-size: 1.2rem;
    color: white;
}

.input-group-append >span{
  background-color: var(--menu);
}
/**contendiseng*/
.title-content>.title{
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}
