:root{
    --cards:#434fa5;
    --card:#cfd4ed;
    --tituloCard: #25338a;
    --textCard:#25338a;
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --norealizado:#ea3838;
    --bordernorealizado:#4a0e0e;
    --realizado:#21ce7e;
    --nrealizado:#0d7545;
}
html body .content.app-content {
    margin-left: 6rem;
}

.vertical-nav {
    min-width: 5.7rem;
    z-index: 1;
}
.content_all {
    position: relative;
    display: block;
    overflow-x: hidden;
    width: 99vw;
    padding: 2rem 2rem 1rem 8.5rem;
}
img.mr-3.rounded-circle.img-thumbnail.shadow-sm {
    width: 4.9rem;
    height: 4.9rem;
}
.py-2.px-1.mb-1 {
    padding: 0 !important;
}
.media.d-flex.align-items-center {
    padding: 0px 5px;
}
.media.d-flex.align-items-center:first-child {
    margin-top: .5rem;
}
body{
  background: var(--escritorio) !important;
}
div#iframes {
    background: var(--escritorio);
    overflow-y: auto;
    height: 67vh;
    border-radius: 10px;
    padding-top: 1rem;
}

iframe.col-12 {
    border: none;
    padding: 0rem !important;
}

div#iframes::-webkit-scrollbar{
    width: 7px !important;
    background-color: var(--scrl);

}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
