.rating {
    background-color: transparent;
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
  }

  svg {
    height: 5rem;
    width: 5rem;
    margin: 0.2rem;
  }

  .rating-form-2 svg {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
  }

  #radios label {
    position: relative;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  input[type="radio"]+svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  input+svg {
    cursor: pointer;
  }

  input[class="super-happy"]+svg{
    fill: rgba(0, 109, 217, 0.400);
  }
  input[class="super-happy"]:hover+svg,
  input[class="super-happy"]:checked+svg,
  input[class="super-happy"]:focus+svg {
    fill: rgb(0, 109, 217);
  }

  input[class="happy"]+svg{
    fill: rgba(0, 204, 78, 0.400);
  }
  input[class="happy"]:hover+svg,
  input[class="happy"]:checked+svg,
  input[class="happy"]:focus+svg {
    fill: rgb(0, 204, 79);
  }

  input[class="neutral"]+svg{
    fill: rgba(246, 187, 66, 0.4);
  }
  input[class="neutral"]:hover+svg,
  input[class="neutral"]:checked+svg,
  input[class="neutral"]:focus+svg {
    fill: rgb(246, 187, 66);
  }

  input[class="sad"]+svg{
    fill: rgba(229, 134, 0, 0.400);
  }
  input[class="sad"]:hover+svg,
  input[class="sad"]:checked+svg,
  input[class="sad"]:focus+svg {
    fill: rgb(229, 132, 0);
  }

  input[class="super-sad"]+svg{
    fill: rgba(239, 42, 16, 0.400);
  }
  input[class="super-sad"]:hover+svg,
  input[class="super-sad"]:checked+svg,
  input[class="super-sad"]:focus+svg {
    fill: rgb(234, 84, 85);
  }
   input[class="demasiado-sad"]+svg{
    fill: rgba(255, 0, 26, 0.5);
  }
  input[class="demasiado-sad"]:hover+svg,
  input[class="demasiado-sad"]:checked+svg,
  input[class="demasiado-sad"]:focus+svg {
    fill: rgb(255, 0, 26);
  }

  input[class="star-1"]+svg,
  input[class="star-2"]+svg,
  input[class="star-3"]+svg,
  input[class="star-4"]+svg,
  input[class="star-5"]+svg{
    fill: rgba(234, 191, 63, 0.400);
  }
  input[class="star-1"]:hover+svg,
  input[class="star-1"]:checked+svg,
  input[class="star-1"]:focus+svg {
    fill: rgb(234, 190, 63);
  }

  input[class="star-2"]:hover+svg,
  input[class="star-2"]:checked+svg,
  input[class="star-2"]:focus+svg{
    fill: rgb(234, 190, 63)
  }

  input[class="star-3"]:hover+svg,
  input[class="star-3"]:checked+svg,
  input[class="star-3"]:focus+svg {
    fill: rgb(234, 190, 63);
  }

  input[class="star-4"]:hover+svg,
  input[class="star-4"]:checked+svg,
  input[class="star-4"]:focus+svg {
    fill: rgb(234, 190, 63);
  }

  input[class="star-5"]:hover+svg,
  input[class="star-5"]:checked+svg,
  input[class="star-5"]:focus+svg {
    fill: rgb(234, 190, 63);
  }

  input[class="rbutton"]:hover+svg,
  input[class="rbutton"]:checked+svg,
  input[class="rbutton"]:focus+svg{
    fill: rgb(13,180,207);
  }