:root{
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --border:#293582;
    --cite:#cccccd;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --blc:#fff;
    --bqot:#dae0e5;
    --cdbsw:rgba(0, 0, 0, 0.25);
    --btnhvr:rgba(255, 255, 255, 0.12);
    --btnbr:rgba(255, 255, 255, 0.2);
    --scrl:#F5F5F5;

}

body{
    background: var(--escritorio) !important;
}

.content{
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 1rem 2.5rem;
}
.text{
  color: var(--menu) !important;
}

.title_text{
  color: var(--menu) !important;
  font-size: 17px;
  font-weight: 200;
}
.title{
   background: var(--menu);
   color: var(--blc);
   text-align: center;
   font-weight:600;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: 100;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.panel.panel-default {
    background: var(--blc);
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    font-weight: 400;
    text-align: center;
    margin-bottom: .9rem ;
    color: var(--texto) !important;
}
::-webkit-scrollbar{
    width: 7px !important;
    background-color: var(--scrl);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: var(--blc);
}
.modal-header .close {
    color: var(--blc);
}

.btn-primary:hover{
    background-color: var(--border) !important;

   }
   .btn-primary{
   color: var(--blc) !important;
   background-color: var(--menu) !important;
   border-color: var(--border) !important;
   }
   .btn-outline-danger:hover {
       color: var(--blc) !important;
       background-color: var(--border)!important;
       border-color: var(--border)!important;
   }
   .btn-outline-danger {
       color: var(--border) !important;
       border-color: var(--border)!important;
   }
   .title-content {
    display: block;
    position: relative;
    /*margin-bottom: 2rem;*/
}
.modal-body {
    height: 68vh;
    padding: 0 !important;
}
embed {
    position: relative;
    display: block;
    height: 67.9vh;
}





.main{
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
     /* font-size: 24px;*/
      font-weight: 400;
      text-align: center;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .btn1 {
    color: var(--blc);
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--btnbr);

  }

  .btn:hover {
    background-color: var(--btnhvr);
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }

  .card {
    background-color: var(--blc);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px var(--cdbsw);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }


  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, var(--menu) 40%, var(--escritorio) 100%)
  }

  .card_title {
    color: var(--blc);
    font-size: 1.5rem;
    margin: 0px;
    font-weight: 200;
  }

  .card_text {
    color: var(--blc);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
  blockquote {
    color: var(--bqot);
    font-size: .9rem;
}

.seccion-navegacion {
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}


.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .3rem;
}

.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}
.btn-personalizado  {
    color: var(--whiteemp);
    background-color: var(--menu);
}
.btn-personalizado:hover {
    color: var(--whiteemp) !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
