:root{
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --border:#293582;
    --cite:#cccccd;
    --colblc:#fff;
    --clscll:#F5F5F5;
    --mdlfotbr:#414da3;
    --mdlfotbk:#838ecd;
    --bkbtnss:#293371;
    --brbtnss:#293582;
    --hvrssbtn:#091146;
}

body{
    background: var(--escritorio) !important;
}

.content{
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 2.5rem;
}

.title{
   background: var(--menu);
   color: var(--colblc);
   text-align: center;
   /*font-size: 1.2rem;*/
   font-weight:lighter ;
   margin: 0;
   padding: 0.5rem 0;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: var(--colblc);
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    font-weight: lighter;
    text-align: center;
    margin-bottom: .9rem ;
    color: var(--texto) !important;
}
::-webkit-scrollbar{
    width: 7px !important;
    background-color: var(--clscll);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color: var(--colblc);
}
.modal-header .close {
    color: var(--colblc);
}

.modal-footer {
    border-top: solid .4rem var(--mdlfotbr) !important;
    background: var(--mdlfotbk);
}

.btn-primary:hover{
    background-color: var(--border) !important;

   }
   .btn-primary{
   color: var(--colblc) !important;
   background-color: var(--menu) !important;
   border-color: var(--border) !important;
   }
   .btn-outline-danger:hover {
       color: var(--colblc) !important;
       background-color: var(--border)!important;
       border-color: var(--border)!important;
   }
   .btn-outline-danger {
       color: var(--border) !important;
       border-color: var(--border)!important;
   }
   .operation {
    display: block;
    padding:4% 2% 4%;
    text-align: center;
}
.operation > button.btn.btn-info {
    width: 45%;
}

a.btn.btn-success {
    margin-right: 15%;
    width: 35%;
    background: var(--menu) !important;
}
.btn-success {
    background-color: var(--bkbtnss) !important;
    border-color: var(--brbtnss) !important;
}
.btn-success:hover {
    background-color: var(--hvrssbtn) !important;
    border-color: #var(--brbtnss) !important;
}

input.form-control.form-control-sm, .custom-select.custom-select-sm.form-control.form-control-sm {
    float: right;
    margin: 0 2rem;
}

.seccion-navegacion {
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}
.scrollup  {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
   background: var(--border);
   border-radius: 50%;
   width: 2.5rem;
   height: 2.5rem;
   text-align: center;
   padding-top: 0;

}
#table_estudios_info {
    display: none;
}
