:root{
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --border:#293582;
    --cite:#cccccd;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
}

body{
    background: var(--escritorio) !important;
}

.content{
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 2.5rem;
}

.title{
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}
::-webkit-scrollbar{
    width: 7px !important;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
   .title-content {
    display: block;
    position: relative;
    /*margin-bottom: 2rem;*/
}

   .btn-primary{
   color: #fff !important;
   background-color: var(--menu) !important;
   border-color: var(--border) !important;
   }

.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}

.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .3rem;
}
#table_estudios_info {
    display: none;
}
input.form-control.form-control-sm, .custom-select.custom-select-sm.form-control.form-control-sm {
    float: right;
    margin: 0 1rem;
}
