:root {
    /*  Login */
    --main-bg-principal: #5866B7;
    /*--Escritorio--*/
    --escritorio:#838ECD;
    /*color blanco letras*/
    --basicoBlanco:#ffff;
    /*content*/
    --content:#ffffff99;
  }


  .bienvenidos {
    position: relative;
    display: block;
    background-image: url(../images/Login.png);
    background-repeat: no-repeat;
    background-position: 20px -320px;
    background-repeat: no-repeat;
    background-size: cover; }
  .row {
    height: 100vh;
    width: 100vw;
    margin-right: 0px !important;
    margin-left: 0px !important; }

  .col-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .content {
    position: relative;
    display: block;
    padding: 35px 35px 35px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .logo {
    position: relative;
    display: block;
    margin: 35px 0 80px; }

  .formulario > form > h2, .title {
    position: relative;
    display: block;
    text-align: center;
    font-weight: normal;
    color: var(--main-bg-principal) !important;
    margin: 0 0 40px; }

  .input-group {
    margin-bottom: 15px; }

  .btn_custom {
    color: #fff;
    position: relative;
    display: block !important;
    background: var(--main-bg-principal) !important;
    font-weight: bold !important;
    margin: 40px auto 0; }

    .btn_custom:hover{
      color: #fff;
    }
    @media only screen and (min-height:768px){
     .bienvenidos{
       background-size:121%
     }
   }

  @media only screen and (max-width: 1270px) {

    .bienvenidos {
    background-position: 20px -250px;
    transition: all .5s ease;
    }
  }
  @media only screen and (max-width: 1160px) {
    .bienvenidos {
    background-position: 20px -200px;
    transition: all .5s ease;
    }
  }

  @media only screen and (max-width: 1100px){
    .bienvenidos{
      background-position:20px -150px
    }
  }
  @media only screen and (max-width: 1020px){
    .bienvenidos{
      background-position:20px -90px
    }
    .content{
        padding: 5px 5px 35px 30px;
        transition: all .3s ease;
    }
  }
  @media only screen and (max-width:940px){
    .bienvenidos{
      background-position:20px -30px;
      transition: all .3s ease;
    }
  }
  @media only screen and (max-width:860px){
    .bienvenidos{
    background-position:20px 0px;
    transition: all .3s ease;
    }
  }
  @media only screen and (max-width:766px){
    .bienvenidos{
     display:none;
     transition: all .3s ease;
    }

    .bienvenidos_device{
      background-image: url(../images/thumbnail_Bienv.png);
      background-size: cover;
      background-repeat: no-repeat;
      transition: all .3s ease;
      display: block;
      height: 100px;
      width: 100%;
      background-position: 0px -30px;
    }

    .content{
       padding: 5px 70px 35px 70px;
    }
  }
  .btn-rst-pwrd {
    margin-top: 2rem;
  }

  @media only screen and (max-device-width:420px) and (min-device-width:320px) {
      .bienvenidos_device {
      display:none
    }

    .body {
       background-image: url(../images/Login.png);
       background-size: cover;
       background-repeat: no-repeat;
    }


    .content{
      background: rgba(255,255,255,.8); ;
      padding: 10px 25px 35px 25px;
      border-radius: 10px;
    }

    .logo {
      margin: 35px 0 40px;
    }

    .col-md-5 {

      max-width: 100% !important;
      padding:0px 15px 0px 15px !important;
      margin-top: auto;
      margin-bottom: auto;
    }

  }
