.img{
background: #5866B7;
border-radius: 10px;
width: 200px;
margin-left: 10px;
padding: 5px 5px;
}
.content {
    background: #5866b7;
    color: #fff;
}
a{
color:  black;
}
a:hover, a:focus {
    color: black;
}