:root{
    /*backgroundWizard*/
    --widback:#838ecd;
    /*colorNavsTabs*/
    --coloNavTab:#e3e6e4;
    /*colorImputEmpre,categoria,giro,btndash,iconoIMage,btnSubirArchivos*/
    --whiteemp:#fff;
    /*BAckgorundSelectCategoria,btnwizard,btndash*/
    --backCate:#414da2;
    /*borderbtnWizard*/
    --borderwid: #414da3;
    /*colorIconoIMagen*/
    --iconimagen:#838ECD;
    /*background btnfile*/
    --backfile:#B4BAE0;
    /*color btnfile*/
    --colfile:#8591CF;
    /*placeholder*/
    --placeholder:#cdd2eb;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;



}
#escritorio{
    background: var(--widback);
}

.frases {
  color: #fff;
  margin-left: 5rem; }
.wizard1
{
    padding: 20px 200px;
}
.wizard {
    margin: 20px auto;
    background: var(--widback);

}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        /*border-bottom-color: #ca9219;*/
    }

    .wizard > div.wizard-inner {
        position: unset;
    }

.connecting-line {
    height: 2px;
  /*  background: #e0e0e0;*/
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: var(--coloNavTab);
    cursor: default;
    border: 0;
    border-bottom: 3px solid #f0f0f0 !important;
    max-width: 100%;
}
.nav-tabs{
    border: none !important;
}
.nav-tabs>li>a{
    border: none !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
background: transparent !important;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 50%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
}

.wizard .nav-tabs > li a {
    margin: -30px auto;
    padding: 0;
    color: var(--coloNavTab) !important;
    font-weight: bold !important;
    font-size: 20px;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
    text-align: center;
    color: #414da3;
    border-bottom: solid 2px #414da3;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }


}

/***********input********/
input.datos_entrada::placeholder{
    color: var(--placeholder) !important;
}

input.datos_entrada::-webkit-input-placeholder {
  color: var(--placeholder) !important;
}
input.datos_entrada::-moz-placeholder {
  color: var(--placeholder) !important;
}
input.datos_entrada:-ms-input-placeholder {
  color: var(--placeholder) !important;
}
input.datos_entrada:-moz-placeholder {
   color: var(--placeholder) !important;;
}

input#id_inputgiro::placeholder{
    color: var(--placeholder) !important;
    }

    input#id_inputgiro::-webkit-input-placeholder {
      color: var(--placeholder) !important;
    }
    input#id_inputgiro::-moz-placeholder {
      color: var(--placeholder) !important;
    }
    input#id_inputgiro:-ms-input-placeholder {
      color: var(--placeholder) !important;
    }
    input#id_inputgiro:-moz-placeholder {
       color: var(--placeholder) !important;;
    }


.container {
    padding-top: 30px;
}
.h2{
    margin-top: 10px;
    font-weight: normal;
    font-size: 27px;
}
a {
    padding-bottom: 5px !important;
}
input.datos_entrada {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 4px;
    box-shadow: none;
    margin-bottom: 10px;
    color: var(--whiteemp);
}
input#id_inputgiro {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 4px;
    box-shadow: none;
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--whiteemp) !important;
}

#id_categoria {
    background: var(--colfile);
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 4px;
    box-shadow: none;
    margin-bottom: 10px;
    color: var(--whiteemp) !important;
}
#id_categoria>option {
    color: var(--whiteemp);
    background: var(--backCate);
}

h2.h2 {
    margin-top: 9px;
}
.img_content {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 55px 30px 0px 1px;
}
/*******************botonescAdmin Dashboard admi*****************************/

.dashbtn {
    background: var(--backCate) !important;
    position: relative;
    display: block !important;
    color: var(--whiteemp) !important;
    font-weight: bold !important;
    margin: 40px auto 0;
}
.dashbtn a {
    background: var(--backCate) !important;
    color: var(--whiteemp) !important;
    font-weight: bold !important;
    margin: 40px auto 0;
}
/*******************botones wizard *****************************/
#im2 {
    color: var(--whiteemp);
    background: var(--backCate);
    border-color: var(--borderwid);
}
.im22{
  color: var(--whiteemp);
  background: var(--backCate);
  border-color: var(--borderwid);
}
.im22:hover{
  color: var(--whiteemp);
  background: var(--backCate);
  border-color: var(--borderwid);
  }
.img {
    position: absolute;
    right: 0;
    margin-top: 60px;
    margin-right: 75px;

}
.imagg {

    position: absolute;
    margin-top: 60px;
    left: 5rem;
    bottom: 0rem;

}


/***********/
.formularioo {
    float: right ;
    width: 100%;
    margin-left: 60px;
}
/**circulo iconoImage*/
span.red {
    background: var(--whiteemp);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 4.8em;
    color: var(--whiteemp);
    display: inline-block;
    font-weight: bold;
    line-height: 6.5em;
    margin-right: 15px;
    text-align: center;
    width: 6.4em;
    font-size: 25px;
  }
  div#step2 {
    display: flex;

}
.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 91px;
    vertical-align: middle;
    color: var(--iconimagen);
}
/********btn subir archivos*******/
.btn-file  {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: var(--whiteemp);
    cursor: inherit;
    display: block;
  }
  span.btn.btn-primary.btn-file {
    background: var(--backfile) !important;
    position: absolute !important;
    bottom: 10px;
    margin-left: 35px;
    color: var(--colfile);
    border: 1px solid #B4BAE0 !important;
    font-weight: bold !important;
}
/******icono menuEmpresa *****/
.fa-file-alt:before {
    content: "\f15c";
    font-size: 71px;
}

.imgen {
    width: 190px;
}

.img-fluid {
    border-radius: 15px;
}

@media only screen and (max-width: 991px) {
    .wizard1 {
        padding: 20px 90px;
        transition:all .3s ease;
    }
    .img {
        position: absolute;
        right: 0;
        margin-top: 60px;
        margin-right: 10px;
    }
    .imagg{
        display: none;
    }
}

@media only screen and (max-width:767px){
       .wizard1 {
        padding: 20px 20px;
        transition:all .3s ease;
    }
    .img{
        display:none;
    }
    .imagg{
        display: none;
    }
}
.modal-backdrop {
    z-index: 0 !important;
}

ul.list-inline.pull-right {
    margin-top: .5rem;
}
.modal-header {
color: #fff;
background: var(--widback);
border-bottom: solid .4rem var(--borderwid) !important;
}
i.fa.fa-file-alt.fa-fw.icon {
    padding: 13px;
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: inline-block;
    background: var(--colfile);
    font-size: 10px !important;
    margin-bottom: 10px;
    margin-right: 10px;
}
i.fa.fa-file-alt.fa-fw.icon:before {
    color: #fff;
    font-size: 4.3rem;
}
.links {
    color: #5866b7;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: 1rem;
}
.links:hover {
    color: #5866b7;
}
.modal-body{
    position: relative;
    display: flex;
}
.categoria {
    flex:0 0 40%;
    max-width: 40%;
    height: auto;
    margin-right: .3rem;
    border-right: solid .2rem var(--borderwid) ;
    padding: inherit;
}
.estudios{
    flex: 0 0 60%;
    height: auto;
    max-width: 60%;
    margin-left: .3rem;
    border-left: solid .2rem var(--borderwid) ;
    padding: inherit;
}
.categoria .estudios{
    position: relative;
    width: 100%;
}
.actives{
    background: var(--borderwid) !important;
}
.custom-control{
    display: flex !important;
    flex-wrap: wrap;
}
.custom-control-label{
    font-weight: normal !important;
    color: #5866b7;
}
.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    left: -2rem;
}
.custom-control-label::before {
    width: 1.5rem;
    left: -2rem;
    height: 1.5rem;
    border-radius: 50% !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #838ecd;
    background-color: #838ecd;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(183, 187, 208, 0.66);
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #838ecd;
}
.col-6.estudios_input.Laboratorio {
    padding-bottom: 1rem;
}
.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}
span {
    color: #fff;
}
.logout {
    position: absolute !important;
}
.vertical-nav {
    width: 8rem !important;
}
img.mr-3.rounded-circle.img-thumbnail.shadow-sm {
    width: 7rem !important;
    height: 7rem !important
}

.fa-file-alt:before {
    font-size: 33px !important;
}
.media.d-flex.align-items-center {
    padding: 0px 3px;
}


.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    margin-left: 5rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--whiteemp);
}
